In [1]:
1+1

2

In [3]:
a=2

In [4]:
type(a)

int

In [9]:
e= False

In [10]:
type(e)

bool

In [16]:
h = True 
k=1

print(k)
print(k+True+True)

1
3

In [12]:
type(h)

bool

In [14]:
True - False

1

In [3]:
True+True+False+False+True

3

In [14]:
True*False

0

In [13]:
print("Hello")
print(True+False+True+True)
#print(d)

Hello
3

In [6]:
True / False

ZeroDivisionError: division by zero

In [17]:
n = 3+5j

In [18]:
type(n)

complex

In [25]:
A =[1,4,3,  3+5j, "hero", 456,780]

In [26]:
A[1]

4

In [27]:
type(A)

list

In [29]:
d ={"a" :"Hello", "b": "world", "c": 1234}

In [30]:
type (d)

dict

In [31]:
d ={35}

In [33]:
type (d)

set

In [17]:
"abcd"+"abcd"+"abcd"

'abcdabcdabcd'

In [18]:
"abcd"*4

'abcdabcdabcdabcd'

In [20]:
"3"+"abcd"

'3abcd'

In [21]:
a=input()

1234

In [22]:
type(a)

str

In [31]:
""" Q1. take a input integer from user input() a,b,c then perform a+b/c in variable O then add the output with a 
complex number O1 then add O1 with your name,

a,b,c
O=(a+b)/c
O1= O+complex number
add your name with O1 


"""

' Q1. take a input integer from user input() a,b,c then perform a+b/c in variable O then add the output with a \ncomplex number O1 then add O1 with your name,\n\na,b,c\nO=(a+b)/c\nO1= O+complex number\nadd your name with O1 \n\n\n'

In [32]:
a=int(input())
b=int(input())
c=int(input())

45
23
5

In [33]:
a,b,c

(45, 23, 5)

In [37]:
O=a+b/c

In [38]:
print (O)

49.6

In [39]:
O1= O+ 5+3j
print(O1)

(54.6+3j)

In [43]:
O2=str(O1)+"ABC"
print(O2)

(54.6+3j)ABC

In [44]:
Salary =int (input("Enter your input "))

if Salary<1000:
    print("I will buy a car")
    
elif Salary<500:
    print("I will buy a bike")
    
elif Salary<100:
    print("I will not buy anything")
    
else:
    print("I will save the money")

Enter your input 4
I will buy a car

## Conditinal loops

In [20]:
a=20
b=10

if a== 20 and b>50:
    print("This is a not valid statement")
elif a==20 and b==50:
    print("This is a not valid statement")
else:
    print("This is also not a valid statement")

This is also not a valid statement

In [4]:
a== 20

True

In [5]:
b== 10

True

In [6]:
a <20

False

In [7]:
b>50

False

In [13]:
## if a== 20 and b> 10:
   ## print("This is a valid statement")
##else:print("This is NOT a valid statement")"""

In [22]:
a=20
b=10

if a== 20 or b>10:
    print ("This is a not valid statement")
elif a==10 or b==20:
    print ("This is a valid statement")
else:
    print ("Condition is not valid")

This is a not valid statement

# Task Conditinal loops

In [28]:
x= input("enter firstname  ")
y= input("enter last name  ")

if x== "mash" and y=="dash":
    print ("This a good name")
elif x== "Dash" and y=="cash":
    print("what kind of name is this")
else:
    print("what is this")

enter firstname  Italy
enter last name  France
what is this

In [2]:
intial_speed=0
final_speed=100
count=1

while intial_speed<final_speed:
    print("This is my speed")
    count = count+1
    if count==5:
        break

This is my speed
This is my speed
This is my speed
This is my speed

In [3]:
i=2
j=5

while i<j:
    print(i)
    i=i+1

2
3
4

In [2]:
d= "Denmark"

d[3]

'm'

In [4]:
m="lets go to Miami in this summer"

In [5]:
m

'lets go to Miami in this summer'

In [6]:
m[4:16]

' go to Miami'

In [7]:
m[::-1]

'remmus siht ni imaiM ot og stel'

In [8]:
m[::-2]

'rmu itn mi to tl'

In [9]:
m

'lets go to Miami in this summer'

In [10]:
for i in m:
    print(i)

l
e
t
s

g
o

t
o

M
i
a
m
i

i
n

t
h
i
s

s
u
m
m
e
r

In [11]:
for i in m:
    if i== "m":
        print("Italy is wonderful")
    print(i)

l
e
t
s

g
o

t
o

M
i
a
Italy is wonderful
m
i

i
n

t
h
i
s

s
u
Italy is wonderful
m
Italy is wonderful
m
e
r

In [12]:
m

'lets go to Miami in this summer'

In [16]:
for i in m:
    if i=="u":
        print("I got m as a string")
    print(i)

l
e
t
s

g
o

t
o

M
i
a
m
i

i
n

t
h
i
s

s
I got m as a string
u
m
m
e
r

In [17]:
for i in m:
    print(i)
else:
    print("This is a else condition")

l
e
t
s

g
o

t
o

M
i
a
m
i

i
n

t
h
i
s

s
u
m
m
e
r
This is a else condition

In [18]:
for i in m:
    print(i)
else:
    if i=="r":
        print("last char was u")
    
    print("This is a else condition")

l
e
t
s

g
o

t
o

M
i
a
m
i

i
n

t
h
i
s

s
u
m
m
e
r
last char was u
This is a else condition

In [33]:
## break is not allowing to continue for loop


for i in m:
    if i =="a":
        break
    print(i)
else:
    if i== "r":
        print("last char was u")
    print("this is a else condition")

l
e
t
s

g
o

t
o

M
i

In [34]:
for i in m:
    if i =="a":
        continue
    print(i)
else:
    if i== "r":
        print("last char was u")
    print("this is a else condition")

l
e
t
s

g
o

t
o

M
i
m
i

i
n

t
h
i
s

s
u
m
m
e
r
last char was u
this is a else condition

In [12]:
s="ineuron"
ss= ""

for i in range(len(s)):
    if s[i]=="n":
        continue
    else:
        ss=ss+s[i]

In [11]:
ss

'ieuro'

In [3]:
s

'ineuron'

In [9]:
len("sackville")

9

In [19]:
n=8
for i in range(0,n):
    for j in range(0,i+1):
        print("+" , end=" ")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +
+ + + + + + + +

In [32]:
n=8
for i in range(0,n):
    for j in range(0,i+1):
        print("+" , end=" ")
    #print("\r")

+ + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + +

In [1]:
n=int(input("Enter number"))
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ", end=" ")  
        
    for j in range(2*i-1):
        print("*",end=" ")
    print()

Enter number5
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [6]:
n=9
i=0

while i<n:
    print(" "*(n-i-1) + " * "*(i+1))
          
    i= i+1

         *
        *  *
       *  *  *
      *  *  *  *
     *  *  *  *  *
    *  *  *  *  *  *
   *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *

In [4]:
for i in range(4):
    print(i)

0
1
2
3

In [5]:
for i in range(8,4,-1):
    print(i)

8
7
6
5