In [1]:
1+1

2

In [2]:
a=2

In [3]:
type(a)

int

In [4]:
e= False

In [5]:
type(e)

bool

In [6]:
h = True 
k=1

print(k)
print(k+True+True)

1
3

In [7]:
type(h)

bool

In [8]:
True - False

1

In [9]:
True+True+False+False+True

3

In [10]:
True*False

0

In [11]:
print("Hello")
print(True+False+True+True)
#print(d)

Hello
3

In [12]:
True / False

ZeroDivisionError: division by zero

In [13]:
n = 3+5j

In [14]:
type(n)

complex

In [15]:
A =[1,4,3,  3+5j, "hero", 456,780]

In [16]:
A[1]

4

In [17]:
type(A)

list

In [18]:
d ={"a" :"Hello", "b": "world", "c": 1234}

In [19]:
type (d)

dict

In [20]:
d ={35}

In [21]:
type (d)

set

In [22]:
"abcd"+"abcd"+"abcd"

'abcdabcdabcd'

In [23]:
"abcd"*4

'abcdabcdabcdabcd'

In [24]:
"3"+"abcd"

'3abcd'

In [ ]:
a=input()

In [ ]:
type(a)

In [ ]:
""" Q1. take a input integer from user input() a,b,c then perform a+b/c in variable O then add the output with a 
complex number O1 then add O1 with your name,

a,b,c
O=(a+b)/c
O1= O+complex number
add your name with O1 


"""

In [ ]:
a=int(input())
b=int(input())
c=int(input())

In [ ]:
a,b,c

In [ ]:
O=a+b/c

In [ ]:
print (O)

In [ ]:
O1= O+ 5+3j
print(O1)

In [ ]:
O2=str(O1)+"ABC"
print(O2)

In [ ]:
Salary =int (input("Enter your input "))

if Salary<1000:
    print("I will buy a car")
    
elif Salary<500:
    print("I will buy a bike")
    
elif Salary<100:
    print("I will not buy anything")
    
else:
    print("I will save the money")

## Conditinal loops

In [ ]:
a=20
b=10

if a== 20 and b>50:
    print("This is a not valid statement")
elif a==20 and b==50:
    print("This is a not valid statement")
else:
    print("This is also not a valid statement")

In [ ]:
a== 20

In [ ]:
b== 10

In [ ]:
a <20

In [ ]:
b>50

In [ ]:
## if a== 20 and b> 10:
   ## print("This is a valid statement")
##else:print("This is NOT a valid statement")"""

In [ ]:
a=20
b=10

if a== 20 or b>10:
    print ("This is a not valid statement")
elif a==10 or b==20:
    print ("This is a valid statement")
else:
    print ("Condition is not valid")

# Task Conditinal loops

In [ ]:
x= input("enter firstname  ")
y= input("enter last name  ")

if x== "mash" and y=="dash":
    print ("This a good name")
elif x== "Dash" and y=="cash":
    print("what kind of name is this")
else:
    print("what is this")

In [ ]:
intial_speed=0
final_speed=100
count=1

while intial_speed<final_speed:
    print("This is my speed")
    count = count+1
    if count==5:
        break

In [ ]:
i=2
j=5

while i<j:
    print(i)
    i=i+1

In [ ]:
d= "Denmark"

d[3]

In [ ]:
m="lets go to Miami in this summer"

In [ ]:
m

In [ ]:
m[4:16]

In [ ]:
m[::-1]

In [ ]:
m[::-2]

In [ ]:
m

In [ ]:
for i in m:
    print(i)

In [ ]:
for i in m:
    if i== "m":
        print("Italy is wonderful")
    print(i)

In [ ]:
m

In [ ]:
for i in m:
    if i=="u":
        print("I got m as a string")
    print(i)

In [ ]:
for i in m:
    print(i)
else:
    print("This is a else condition")

In [ ]:
for i in m:
    print(i)
else:
    if i=="r":
        print("last char was u")
    
    print("This is a else condition")

In [ ]:
## break is not allowing to continue for loop


for i in m:
    if i =="a":
        break
    print(i)
else:
    if i== "r":
        print("last char was u")
    print("this is a else condition")

In [ ]:
for i in m:
    if i =="a":
        continue
    print(i)
else:
    if i== "r":
        print("last char was u")
    print("this is a else condition")

In [ ]:
s="ineuron"
ss= ""

for i in range(len(s)):
    if s[i]=="n":
        continue
    else:
        ss=ss+s[i]

In [ ]:
ss

In [ ]:
s

In [ ]:
len("sackville")

In [ ]:
n=8
for i in range(0,n):
    for j in range(0,i+1):
        print("+" , end=" ")
    print("\r")

In [ ]:
n=8
for i in range(0,n):
    for j in range(0,i+1):
        print("+" , end=" ")
    #print("\r")

In [ ]:
n=int(input("Enter number"))
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ", end=" ")  
        
    for j in range(2*i-1):
        print("*",end=" ")
    print()

In [ ]:
n=9
i=0

while i<n:
    print(" "*(n-i-1) + " * "*(i+1))
          
    i= i+1

In [ ]:
for i in range(4):
    print(i)

In [ ]:
for i in range(8,4,-1):
    print(i)

# String

In [ ]:
x1= "Travel"

In [ ]:
x1[::-1]

## reverse direction

In [ ]:
x1[-2:-5:1]
## always try to draw a scale
## 0 1 2 3 4 5 
##   T R A V E L
##-6 -5 -4 -3 -2 -1

In [ ]:
x1[-6:-2:1]

In [ ]:
## Count and split function
x1

In [ ]:
x1.count("T")

In [ ]:
x1.count("vel")

In [ ]:
x1.count("t")

In [ ]:
x1.split("a")

In [ ]:
sw= "Italy (Italian: Italia [iˈtaːlja] (listen)), officially the Italian Republic or Republic of Italy[12][13] (Italian: Repubblica Italiana [reˈpubblika itaˈljaːna]),[14][15] is a country that consists of a peninsula delimited by the Alps and several islands surrounding it;[note 1] its territory largely coincides with the homonymous geographical region.[16] Italy is located in the middle of the Mediterranean Sea, in Southern Europe;[17][18"

In [ ]:
sw

In [ ]:
sw.split(" ")

In [ ]:
sw.count("is")

In [ ]:
sw.count("Europe")

In [ ]:
 ## when you have a multi line string will need to use triple quote 
    
sw1= "Italy (Italian: Italia [iˈtaːlja] (listen)), officially the Italian Republic or Republic of Italy[12][13] (Italian: Repubblica Italiana [reˈpubblika itaˈljaːna]),[14][15] is a country that consists of a peninsula delimited by the Alps and several islands surrounding it;[note 1] its territory largely coincides with the homonymous geographical region.[16] Italy is located in the middle of the Mediterranean Sea, in Southern Europe;[17][18][19] it is also considered part of Western Europe.[20][note 2] A unitary parliamentary republic with Rome as its capital and largest city, the country covers a total area of 301,230 km2 (116,310 sq mi) and shares land borders with France, Switzerland, Austria, Slovenia, as well as the enclaved microstates of Vatican City and San Marino. Italy has a territorial exclave in Switzerland, Campione. With over 60 million inhabitants,[21] Italy is the third-most populous member state of the European Union.

Due to its central geographic location in Southern Europe and the Mediterranean, Italy has historically been home to myriad peoples and cultures. In addition to the various ancient peoples dispersed throughout what is now modern-day Italy, the most predominant being the Indo-European Italic peoples who gave the peninsula its name, beginning from the classical era, Phoenicians and Carthaginians founded colonies mostly in insular Italy,[22] Greeks established settlements in the so-called Magna Graecia of Southern Italy, while Etruscans and Celts inhabited central and northern Italy respectively. An Italic tribe known as the Latins formed the Roman Kingdom in the 8th century BC, which eventually became a republic with a government of the Senate and the People. The Roman Republic initially conquered and assimilated its neighbours on the Italian peninsula, eventually expanding and conquering parts of Europe, North Africa and Asia. By the first century BC, the Roman Empire emerged as the dominant power in the Mediterranean Basin and became a leading cultural, political and religious centre, inaugurating the Pax Romana, a period of more than 200 years during which Italy's law, technology, economy, art, and literature developed.[23][24] "

In [ ]:
sw1 = """Italy (Italian: Italia [iˈtaːlja] (listen)), officially the Italian Republic or Republic of Italy[12][13] (Italian: Repubblica Italiana [reˈpubblika itaˈljaːna]),[14][15] is a country that consists of a peninsula delimited by the Alps and several islands surrounding it;[note 1] its territory largely coincides with the homonymous geographical region.[16] Italy is located in the middle of the Mediterranean Sea, in Southern Europe;[17][18][19] it is also considered part of Western Europe.[20][note 2] A unitary parliamentary republic with Rome as its capital and largest city, the country covers a total area of 301,230 km2 (116,310 sq mi) and shares land borders with France, Switzerland, Austria, Slovenia, as well as the enclaved microstates of Vatican City and San Marino. Italy has a territorial exclave in Switzerland, Campione. With over 60 million inhabitants,[21] Italy is the third-most populous member state of the European Union.

Due to its central geographic location in Southern Europe and the Mediterranean, Italy has historically been home to myriad peoples and cultures. In addition to the various ancient peoples dispersed throughout what is now modern-day Italy, the most predominant being the Indo-European Italic peoples who gave the peninsula its name, beginning from the classical era, Phoenicians and Carthaginians founded colonies mostly in insular Italy,[22] Greeks established settlements in the so-called Magna Graecia of Southern Italy, while Etruscans and Celts inhabited central and northern Italy respectively. An Italic tribe known as the Latins formed the Roman Kingdom in the 8th century BC, which eventually became a republic with a government of the Senate and the People. The Roman Republic initially conquered and assimilated its neighbours on the Italian peninsula, eventually expanding and conquering parts of Europe, North Africa and Asia. By the first century BC, the Roman Empire emerged as the dominant power in the Mediterranean Basin and became a leading cultural, political and religious centre, inaugurating the Pax Romana, a period of more than 200 years during which Italy's law, technology, economy, art, and literature developed.[23][24]"""

In [ ]:
sw1

In [ ]:
sw.upper()

In [ ]:
sw.lower()

In [ ]:
s= "singapore malaysia"

In [ ]:
s.title()

In [ ]:
s.capitalize()

In [ ]:
s = " singaPORE maLAysiA"

In [ ]:
s.swapcase()

In [ ]:
reversed(s)

In [ ]:
s

In [ ]:
s= "   Singapore   "

In [ ]:
s.strip()

## remove space before and after

In [ ]:
S= "  Fra nce "

In [ ]:
S.strip()

## strip function do not remove the space in between

In [ ]:
S

In [ ]:
S.lstrip()
## lstrip removes space from left side

In [ ]:
S.rstrip()
## rstrip removes space from left side

In [ ]:
" ".join("Singapore")

In [ ]:
" N ".join("Singapore")

In [ ]:
S2 ="FRANCE"

In [ ]:
S2.isupper()

In [ ]:
S2.islower()

In [ ]:
S3= "france"

In [ ]:
S3.islower()

In [ ]:
S3.isupper()

In [ ]:
S4= "France\tItaly\tGermany"

In [ ]:
S4.expandtabs()

In [ ]:
s= " this is My First Python programming class and i am learNING python string and its function"

# List,Tuples,Dict Set

In [ ]:
L= [1,2,3,4,"fraance",3.5,True]

In [ ]:
## list index

L[0]

In [ ]:
L[-1]

In [ ]:
L[-3]

In [ ]:
len(L)

In [ ]:
L[0:5:1]

In [ ]:
## reverse the list
L[::-1]

In [ ]:
L[0:100]

In [ ]:
L[0:100:2]

In [ ]:
L[0:8:-1]

In [ ]:
L+ "Germany"

## because of two different type it will not work....so always will need to convert the data type

In [ ]:
L+ ["Germany"]

In [ ]:
L*2

In [ ]:
## Need to search anything in the list 

60 in L

## the ans is false coz 60 is not in the list

In [ ]:
1 in L

## The ans is true coz 1 is available in the list

In [ ]:
L

In [ ]:
L.append("Italy")

##bAppend obj to the end if the list

In [ ]:
L

In [ ]:
L.append([87,67,57])

In [ ]:
L

In [ ]:
##L.pop(5)

## enter the index number and pop will remove the data

In [ ]:
L

In [ ]:
L.reverse()
## Will reverse the list permanantly

In [ ]:
L

In [ ]:
L1 = [98,25,35,76,10,7,3,1]

In [ ]:
L1.sort()
## will sort the list

In [ ]:
L1

In [ ]:
L1.sort(reverse= True)

In [ ]:
L1

In [ ]:
L1 = [98,25,35,76,10,7,3,1]
L2 = [56,89,43]
L3 = [2,5,7]

In [ ]:
L4 = [L1,L2,L3]

In [ ]:
L4

In [ ]:
L4[2][1]

## Extract 5 from the List L4, followed the index

In [ ]:
L5 = [2,2,2,11,34,5,7]

In [ ]:
L5.count(2)

## count function is for counting ince there are three 2 are available its showing the count result 3

In [ ]:
L4.append("France")

In [ ]:
L4

In [ ]:
L4.extend([56,89,43])

In [ ]:
L4

In [ ]:
L4.extend("France")
## performs unwraping data

In [ ]:
L4

In [ ]:
L1 = [98,25,35,76,10,7,3,1,1]

In [ ]:
L1.index(1)

## will show the first index of a particular number, the result is showing 7 since it comes as a first index

In [ ]:
L1.insert(4,988)

## insert function helps to insert the date where and what you need to insert. 
##on the other hand append function will just add the data at the end of the list.

In [ ]:
L1

In [ ]:
L1.pop(2)
##Remove and return item at index (default last).

In [ ]:
L1

In [ ]:
L1.remove(988)

In [ ]:
L1

In [ ]:
L1.remove(10)
## Remove first occurrence of value. removes the value what you insert, you dont have to know the index in remove function

In [ ]:
L1

In [ ]:
L1[1] = "Germany"
## reassign value or replace the value according to index

In [ ]:
L1

# Tuples

In [ ]:
T = (3,4,5,6,7,"France",4.5, True)

In [ ]:
type(T)

In [ ]:
T[0]
## extracting data index wise

In [ ]:
T[0:4]
## extracting data index range wise

In [ ]:
T[-1]
## Extracting data backword index wise

In [ ]:
T[0:8:2]

In [ ]:
T1 =("A", "B",1,2,3)

In [ ]:
T + T1
## we can add tuples

In [ ]:
L

In [ ]:
T.index(1)

In [ ]:
T

In [ ]:
T2= list(T)

## its possible to convert a tuple to list and also possible to convert a list to tuple

In [ ]:
T2

# Dictionary

In [ ]:
d = {}

In [ ]:
type(d)

In [ ]:
d1 = {1}

In [ ]:
type(d1)

In [ ]:
d2 = { 'key1': "value", 123: "xyz", "name": "Italy", "no": 456346893}

In [ ]:
type(d2)

In [ ]:
d2['name']

In [ ]:
d2['no']

In [ ]:
d3= {'name': "Sneho", 'tech':["python","ML","DL","NLP","CV","Big data","data analytics"]}

In [ ]:
d3

In [ ]:
"python" in d3['tech']

## finding value or informationn in dictionary

In [ ]:
## in dictionry the keys always needs to be different, if not then the last key name will replace the previous ones

d4= {'name': "Sneho", 'contact_info': 4756583, 'name': "mosh"}

In [ ]:
d4

In [ ]:
d4= {'name': "Sneho", 'contact_info': 4756583, 'name1': "mosh"}
## so in here all the keys are unique

In [ ]:
d4

In [ ]:
d4["name"]= "xyz"

## adding or replacing value in dict

In [ ]:
d4

In [ ]:
d4["name2"]="xyz"

In [ ]:
d4

In [ ]:
## how to extract data from a dictionary


d4

In [ ]:
## in here will try to extract the big data
d4['contact_info']

In [ ]:
d4.keys()

In [ ]:
d4.values()

In [ ]:
d4.items()

# Set

In [ ]:
s= {1,2,3,4,5,}

In [ ]:
type(s)

In [ ]:
s1= {1,1,1,2,2,2,3,3,3,44,44,44,56,56,7,7}

## set will remove similar data automatically

In [ ]:
s1

In [ ]:
s2= {56,578,432,987,5,42}

In [ ]:
s2
## it looks like set gives the data in sorted order bit it does not actually. lets see the next example

In [ ]:
s3= {"france", 345,76,34, 34,'5',2,'25',1,1,'italy'}

In [ ]:
s3

In [ ]:
list(s3)

## its possible to convert set into list

In [ ]:
l = [1,1,1,1,2,2,233,33,33,4,55,55,7,7,7,7]

## its possible to convert list into set in order to remove similar data easily

In [ ]:
set(l)

In [ ]:
l =list(set(l))

In [ ]:
l

In [ ]:
s= {(1,2,3,4,),34,55,6,7}

## tuple is possible keep insode a set but list not possible to keep inside a set

In [ ]:
s

In [ ]:
s ={[1,2,3,4],657,78,2}

## list not possible to keep inside a set

In [ ]:
s

In [ ]:
s.remove(34)

In [ ]:
s

In [ ]:
s.discard(7)