In [1]:
1+1

2

In [3]:
a=2

In [4]:
type(a)

int

In [9]:
e= False

In [10]:
type(e)

bool

In [16]:
h = True 
k=1

print(k)
print(k+True+True)

1
3

In [12]:
type(h)

bool

In [14]:
True - False

1

In [3]:
True+True+False+False+True

3

In [14]:
True*False

0

In [13]:
print("Hello")
print(True+False+True+True)
#print(d)

Hello
3

In [6]:
True / False

ZeroDivisionError: division by zero

In [17]:
n = 3+5j

In [18]:
type(n)

complex

In [25]:
A =[1,4,3,  3+5j, "hero", 456,780]

In [26]:
A[1]

4

In [27]:
type(A)

list

In [29]:
d ={"a" :"Hello", "b": "world", "c": 1234}

In [30]:
type (d)

dict

In [31]:
d ={35}

In [33]:
type (d)

set

In [17]:
"abcd"+"abcd"+"abcd"

'abcdabcdabcd'

In [18]:
"abcd"*4

'abcdabcdabcdabcd'

In [20]:
"3"+"abcd"

'3abcd'

In [21]:
a=input()

1234

In [22]:
type(a)

str

In [31]:
""" Q1. take a input integer from user input() a,b,c then perform a+b/c in variable O then add the output with a 
complex number O1 then add O1 with your name,

a,b,c
O=(a+b)/c
O1= O+complex number
add your name with O1 


"""

' Q1. take a input integer from user input() a,b,c then perform a+b/c in variable O then add the output with a \ncomplex number O1 then add O1 with your name,\n\na,b,c\nO=(a+b)/c\nO1= O+complex number\nadd your name with O1 \n\n\n'

In [32]:
a=int(input())
b=int(input())
c=int(input())

45
23
5

In [33]:
a,b,c

(45, 23, 5)

In [37]:
O=a+b/c

In [38]:
print (O)

49.6

In [39]:
O1= O+ 5+3j
print(O1)

(54.6+3j)

In [43]:
O2=str(O1)+"ABC"
print(O2)

(54.6+3j)ABC

In [44]:
Salary =int (input("Enter your input "))

if Salary<1000:
    print("I will buy a car")
    
elif Salary<500:
    print("I will buy a bike")
    
elif Salary<100:
    print("I will not buy anything")
    
else:
    print("I will save the money")

Enter your input 4
I will buy a car

## Conditinal loops

In [20]:
a=20
b=10

if a== 20 and b>50:
    print("This is a not valid statement")
elif a==20 and b==50:
    print("This is a not valid statement")
else:
    print("This is also not a valid statement")

This is also not a valid statement

In [4]:
a== 20

True

In [5]:
b== 10

True

In [6]:
a <20

False

In [7]:
b>50

False

In [13]:
## if a== 20 and b> 10:
   ## print("This is a valid statement")
##else:print("This is NOT a valid statement")"""

In [22]:
a=20
b=10

if a== 20 or b>10:
    print ("This is a not valid statement")
elif a==10 or b==20:
    print ("This is a valid statement")
else:
    print ("Condition is not valid")

This is a not valid statement

# Task Conditinal loops

In [28]:
x= input("enter firstname  ")
y= input("enter last name  ")

if x== "mash" and y=="dash":
    print ("This a good name")
elif x== "Dash" and y=="cash":
    print("what kind of name is this")
else:
    print("what is this")

enter firstname  Italy
enter last name  France
what is this

In [2]:
intial_speed=0
final_speed=100
count=1

while intial_speed<final_speed:
    print("This is my speed")
    count = count+1
    if count==5:
        break

This is my speed
This is my speed
This is my speed
This is my speed

In [3]:
i=2
j=5

while i<j:
    print(i)
    i=i+1

2
3
4

In [2]:
d= "Denmark"

d[3]

'm'

In [4]:
m="lets go to Miami in this summer"

In [5]:
m

'lets go to Miami in this summer'

In [6]:
m[4:16]

' go to Miami'

In [7]:
m[::-1]

'remmus siht ni imaiM ot og stel'

In [8]:
m[::-2]

'rmu itn mi to tl'

In [9]:
m

'lets go to Miami in this summer'

In [10]:
for i in m:
    print(i)

l
e
t
s

g
o

t
o

M
i
a
m
i

i
n

t
h
i
s

s
u
m
m
e
r

In [11]:
for i in m:
    if i== "m":
        print("Italy is wonderful")
    print(i)

l
e
t
s

g
o

t
o

M
i
a
Italy is wonderful
m
i

i
n

t
h
i
s

s
u
Italy is wonderful
m
Italy is wonderful
m
e
r

In [12]:
m

'lets go to Miami in this summer'

In [16]:
for i in m:
    if i=="u":
        print("I got m as a string")
    print(i)

l
e
t
s

g
o

t
o

M
i
a
m
i

i
n

t
h
i
s

s
I got m as a string
u
m
m
e
r

In [17]:
for i in m:
    print(i)
else:
    print("This is a else condition")

l
e
t
s

g
o

t
o

M
i
a
m
i

i
n

t
h
i
s

s
u
m
m
e
r
This is a else condition

In [18]:
for i in m:
    print(i)
else:
    if i=="r":
        print("last char was u")
    
    print("This is a else condition")

l
e
t
s

g
o

t
o

M
i
a
m
i

i
n

t
h
i
s

s
u
m
m
e
r
last char was u
This is a else condition

In [33]:
## break is not allowing to continue for loop


for i in m:
    if i =="a":
        break
    print(i)
else:
    if i== "r":
        print("last char was u")
    print("this is a else condition")

l
e
t
s

g
o

t
o

M
i

In [34]:
for i in m:
    if i =="a":
        continue
    print(i)
else:
    if i== "r":
        print("last char was u")
    print("this is a else condition")

l
e
t
s

g
o

t
o

M
i
m
i

i
n

t
h
i
s

s
u
m
m
e
r
last char was u
this is a else condition

In [12]:
s="ineuron"
ss= ""

for i in range(len(s)):
    if s[i]=="n":
        continue
    else:
        ss=ss+s[i]

In [11]:
ss

'ieuro'

In [3]:
s

'ineuron'

In [9]:
len("sackville")

9

In [19]:
n=8
for i in range(0,n):
    for j in range(0,i+1):
        print("+" , end=" ")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +
+ + + + + + + +

In [32]:
n=8
for i in range(0,n):
    for j in range(0,i+1):
        print("+" , end=" ")
    #print("\r")

+ + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + +

In [1]:
n=int(input("Enter number"))
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ", end=" ")  
        
    for j in range(2*i-1):
        print("*",end=" ")
    print()

Enter number5
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [6]:
n=9
i=0

while i<n:
    print(" "*(n-i-1) + " * "*(i+1))
          
    i= i+1

         *
        *  *
       *  *  *
      *  *  *  *
     *  *  *  *  *
    *  *  *  *  *  *
   *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *

In [4]:
for i in range(4):
    print(i)

0
1
2
3

In [5]:
for i in range(8,4,-1):
    print(i)

8
7
6
5

# String

In [5]:
x1= "Travel"

In [11]:
x1[::-1]

## reverse direction

'levarT'

In [10]:
x1[-2:-5:1]
## always try to draw a scale
## 0 1 2 3 4 5 
##   T R A V E L
##-6 -5 -4 -3 -2 -1

''

In [12]:
x1[-6:-2:1]

'rav'

In [15]:
## Count and split function
x1

'Travel'

In [18]:
x1.count("T")

1

In [19]:
x1.count("vel")

1

In [21]:
x1.count("t")

0

In [22]:
x1.split("a")

['Tr', 'vel']

In [23]:
sw= "Italy (Italian: Italia [iˈtaːlja] (listen)), officially the Italian Republic or Republic of Italy[12][13] (Italian: Repubblica Italiana [reˈpubblika itaˈljaːna]),[14][15] is a country that consists of a peninsula delimited by the Alps and several islands surrounding it;[note 1] its territory largely coincides with the homonymous geographical region.[16] Italy is located in the middle of the Mediterranean Sea, in Southern Europe;[17][18"

In [24]:
sw

'Italy (Italian: Italia [iˈtaːlja] (listen)), officially the Italian Republic or Republic of Italy[12][13] (Italian: Repubblica Italiana [reˈpubblika itaˈljaːna]),[14][15] is a country that consists of a peninsula delimited by the Alps and several islands surrounding it;[note 1] its territory largely coincides with the homonymous geographical region.[16] Italy is located in the middle of the Mediterranean Sea, in Southern Europe;[17][18'

In [26]:
sw.split(" ")

['Italy',
 '(Italian:',
 'Italia',
 '[iˈtaːlja]',
 '(listen)),',
 'officially',
 'the',
 'Italian',
 'Republic',
 'or',
 'Republic',
 'of',
 'Italy[12][13]',
 '(Italian:',
 'Repubblica',
 'Italiana',
 '[reˈpubblika',
 'itaˈljaːna]),[14][15]',
 'is',
 'a',
 'country',
 'that',
 'consists',
 'of',
 'a',
 'peninsula',
 'delimited',
 'by',
 'the',
 'Alps',
 'and',
 'several',
 'islands',
 'surrounding',
 'it;[note',
 '1]',
 'its',
 'territory',
 'largely',
 'coincides',
 'with',
 'the',
 'homonymous',
 'geographical',
 'region.[16]',
 'Italy',
 'is',
 'located',
 'in',
 'the',
 'middle',
 'of',
 'the',
 'Mediterranean',
 'Sea,',
 'in',
 'Southern',
 'Europe;[17][18']

In [27]:
sw.count("is")

5

In [29]:
sw.count("Europe")

1

In [30]:
 ## when you have a multi line string will need to use triple quote 
    
sw1= "Italy (Italian: Italia [iˈtaːlja] (listen)), officially the Italian Republic or Republic of Italy[12][13] (Italian: Repubblica Italiana [reˈpubblika itaˈljaːna]),[14][15] is a country that consists of a peninsula delimited by the Alps and several islands surrounding it;[note 1] its territory largely coincides with the homonymous geographical region.[16] Italy is located in the middle of the Mediterranean Sea, in Southern Europe;[17][18][19] it is also considered part of Western Europe.[20][note 2] A unitary parliamentary republic with Rome as its capital and largest city, the country covers a total area of 301,230 km2 (116,310 sq mi) and shares land borders with France, Switzerland, Austria, Slovenia, as well as the enclaved microstates of Vatican City and San Marino. Italy has a territorial exclave in Switzerland, Campione. With over 60 million inhabitants,[21] Italy is the third-most populous member state of the European Union.

Due to its central geographic location in Southern Europe and the Mediterranean, Italy has historically been home to myriad peoples and cultures. In addition to the various ancient peoples dispersed throughout what is now modern-day Italy, the most predominant being the Indo-European Italic peoples who gave the peninsula its name, beginning from the classical era, Phoenicians and Carthaginians founded colonies mostly in insular Italy,[22] Greeks established settlements in the so-called Magna Graecia of Southern Italy, while Etruscans and Celts inhabited central and northern Italy respectively. An Italic tribe known as the Latins formed the Roman Kingdom in the 8th century BC, which eventually became a republic with a government of the Senate and the People. The Roman Republic initially conquered and assimilated its neighbours on the Italian peninsula, eventually expanding and conquering parts of Europe, North Africa and Asia. By the first century BC, the Roman Empire emerged as the dominant power in the Mediterranean Basin and became a leading cultural, political and religious centre, inaugurating the Pax Romana, a period of more than 200 years during which Italy's law, technology, economy, art, and literature developed.[23][24] "

SyntaxError: EOL while scanning string literal (<ipython-input-30-e0ad9e0f315a>, line 3)

In [31]:
sw1 = """Italy (Italian: Italia [iˈtaːlja] (listen)), officially the Italian Republic or Republic of Italy[12][13] (Italian: Repubblica Italiana [reˈpubblika itaˈljaːna]),[14][15] is a country that consists of a peninsula delimited by the Alps and several islands surrounding it;[note 1] its territory largely coincides with the homonymous geographical region.[16] Italy is located in the middle of the Mediterranean Sea, in Southern Europe;[17][18][19] it is also considered part of Western Europe.[20][note 2] A unitary parliamentary republic with Rome as its capital and largest city, the country covers a total area of 301,230 km2 (116,310 sq mi) and shares land borders with France, Switzerland, Austria, Slovenia, as well as the enclaved microstates of Vatican City and San Marino. Italy has a territorial exclave in Switzerland, Campione. With over 60 million inhabitants,[21] Italy is the third-most populous member state of the European Union.

Due to its central geographic location in Southern Europe and the Mediterranean, Italy has historically been home to myriad peoples and cultures. In addition to the various ancient peoples dispersed throughout what is now modern-day Italy, the most predominant being the Indo-European Italic peoples who gave the peninsula its name, beginning from the classical era, Phoenicians and Carthaginians founded colonies mostly in insular Italy,[22] Greeks established settlements in the so-called Magna Graecia of Southern Italy, while Etruscans and Celts inhabited central and northern Italy respectively. An Italic tribe known as the Latins formed the Roman Kingdom in the 8th century BC, which eventually became a republic with a government of the Senate and the People. The Roman Republic initially conquered and assimilated its neighbours on the Italian peninsula, eventually expanding and conquering parts of Europe, North Africa and Asia. By the first century BC, the Roman Empire emerged as the dominant power in the Mediterranean Basin and became a leading cultural, political and religious centre, inaugurating the Pax Romana, a period of more than 200 years during which Italy's law, technology, economy, art, and literature developed.[23][24]"""

In [32]:
sw1

"Italy (Italian: Italia [iˈtaːlja] (listen)), officially the Italian Republic or Republic of Italy[12][13] (Italian: Repubblica Italiana [reˈpubblika itaˈljaːna]),[14][15] is a country that consists of a peninsula delimited by the Alps and several islands surrounding it;[note 1] its territory largely coincides with the homonymous geographical region.[16] Italy is located in the middle of the Mediterranean Sea, in Southern Europe;[17][18][19] it is also considered part of Western Europe.[20][note 2] A unitary parliamentary republic with Rome as its capital and largest city, the country covers a total area of 301,230 km2 (116,310 sq mi) and shares land borders with France, Switzerland, Austria, Slovenia, as well as the enclaved microstates of Vatican City and San Marino. Italy has a territorial exclave in Switzerland, Campione. With over 60 million inhabitants,[21] Italy is the third-most populous member state of the European Union.\n\nDue to its central geographic location in Southern Europe and the Mediterranean, Italy has historically been home to myriad peoples and cultures. In addition to the various ancient peoples dispersed throughout what is now modern-day Italy, the most predominant being the Indo-European Italic peoples who gave the peninsula its name, beginning from the classical era, Phoenicians and Carthaginians founded colonies mostly in insular Italy,[22] Greeks established settlements in the so-called Magna Graecia of Southern Italy, while Etruscans and Celts inhabited central and northern Italy respectively. An Italic tribe known as the Latins formed the Roman Kingdom in the 8th century BC, which eventually became a republic with a government of the Senate and the People. The Roman Republic initially conquered and assimilated its neighbours on the Italian peninsula, eventually expanding and conquering parts of Europe, North Africa and Asia. By the first century BC, the Roman Empire emerged as the dominant power in the Mediterranean Basin and became a leading cultural, political and religious centre, inaugurating the Pax Romana, a period of more than 200 years during which Italy's law, technology, economy, art, and literature developed.[23][24]"

In [33]:
sw.upper()

'ITALY (ITALIAN: ITALIA [IˈTAːLJA] (LISTEN)), OFFICIALLY THE ITALIAN REPUBLIC OR REPUBLIC OF ITALY[12][13] (ITALIAN: REPUBBLICA ITALIANA [REˈPUBBLIKA ITAˈLJAːNA]),[14][15] IS A COUNTRY THAT CONSISTS OF A PENINSULA DELIMITED BY THE ALPS AND SEVERAL ISLANDS SURROUNDING IT;[NOTE 1] ITS TERRITORY LARGELY COINCIDES WITH THE HOMONYMOUS GEOGRAPHICAL REGION.[16] ITALY IS LOCATED IN THE MIDDLE OF THE MEDITERRANEAN SEA, IN SOUTHERN EUROPE;[17][18'

In [34]:
sw.lower()

'italy (italian: italia [iˈtaːlja] (listen)), officially the italian republic or republic of italy[12][13] (italian: repubblica italiana [reˈpubblika itaˈljaːna]),[14][15] is a country that consists of a peninsula delimited by the alps and several islands surrounding it;[note 1] its territory largely coincides with the homonymous geographical region.[16] italy is located in the middle of the mediterranean sea, in southern europe;[17][18'

In [39]:
s= "singapore malaysia"

In [40]:
s.title()

'Singapore Malaysia'

In [41]:
s.capitalize()

'Singapore malaysia'

In [42]:
s = " singaPORE maLAysiA"

In [43]:
s.swapcase()

' SINGApore MAlaYSIa'

In [44]:
reversed(s)

In [45]:
s

' singaPORE maLAysiA'

In [46]:
s= "   Singapore   "

In [48]:
s.strip()

## remove space before and after

'Singapore'

In [49]:
S= "  Fra nce "

In [51]:
S.strip()

## strip function do not remove the space in between

'Fra nce'

In [52]:
S

'  Fra nce '

In [56]:
S.lstrip()
## lstrip removes space from left side

'Fra nce '

In [57]:
S.rstrip()
## rstrip removes space from left side

'  Fra nce'

In [58]:
" ".join("Singapore")

'S i n g a p o r e'

In [59]:
" N ".join("Singapore")

'S N i N n N g N a N p N o N r N e'

In [60]:
S2 ="FRANCE"

In [61]:
S2.isupper()

True

In [62]:
S2.islower()

False

In [63]:
S3= "france"

In [64]:
S3.islower()

True

In [65]:
S3.isupper()

False

In [70]:
S4= "France\tItaly\tGermany"

In [71]:
S4.expandtabs()

'France  Italy   Germany'

In [72]:
s= " this is My First Python programming class and i am learNING python string and its function"

# List,Tuples,Dict Set

In [1]:
L= [1,2,3,4,"fraance",3.5,True]

In [2]:
## list index

L[0]

1

In [3]:
L[-1]

True

In [4]:
L[-3]

'fraance'

In [5]:
len(L)

7

In [6]:
L[0:5:1]

[1, 2, 3, 4, 'fraance']

In [7]:
## reverse the list
L[::-1]

[True, 3.5, 'fraance', 4, 3, 2, 1]

In [8]:
L[0:100]

[1, 2, 3, 4, 'fraance', 3.5, True]

In [9]:
L[0:100:2]

[1, 3, 'fraance', True]

In [10]:
L[0:8:-1]

[]

In [14]:
L+ "Germany"

## because of two different type it will not work....so always will need to convert the data type

TypeError: can only concatenate list (not "str") to list

In [15]:
L+ ["Germany"]

[1, 2, 3, 4, 'fraance', 3.5, True, 'Germany']

In [13]:
L*2

[1, 2, 3, 4, 'fraance', 3.5, True, 1, 2, 3, 4, 'fraance', 3.5, True]

In [17]:
## Need to search anything in the list 

60 in L

## the ans is false coz 60 is not in the list

False

In [19]:
1 in L

## The ans is true coz 1 is available in the list

True

In [20]:
L

[1, 2, 3, 4, 'fraance', 3.5, True]

In [21]:
L.append("Italy")

##bAppend obj to the end if the list

In [22]:
L

[1, 2, 3, 4, 'fraance', 3.5, True, 'Italy']

In [23]:
L.append([87,67,57])

In [26]:
L

[1, 2, 3, 4, 'fraance', 3.5, True, 'Italy', [87, 67, 57]]